@model Demo.BLL.Models.DepartmentVM


@{
    ViewData["Title"] = "Details";
}

<h2>Department Details</h2>

@*<h1>@Model.Id</h1>
    <h1>@Model.DepartmentName</h1>
    <h1>@Model.DepartmentCode</h1>*@


    <label>Department Name</label>
    <input type="text" asp-for="DepartmentName" disabled class="form-control" />
    <br />

    <label>Department Code</label>
    <input type="text" asp-for="DepartmentCode" disabled class="form-control" />
    <br />

    <center>
        <a asp-action="Edit" asp-controller="Department" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
        <a asp-action="Delete" asp-controller="Department" asp-route-id="@Model.Id" class="btn btn-danger">Delete</a>
        <a asp-action="Index" asp-controller="Department" class="btn btn-success">Back To Department</a>
    </center>


